In [1]:
import pandas as pd
from tqdm import *

In [2]:
pd.read_csv('test_info.csv').head()

                           image_id  width  height  class14prob
0  002a34c58c5b758217ed1f584ccbcfe9   2345    2584     0.986674
1  004f33259ee4aef671c2b95d54e4be68   2517    3028     0.962765
2  008bdde2af2462e86fd373a445d0f4cd   2304    2880     0.060300
3  009bc039326338823ca3aa84381f17f1   1994    2430     0.876201
4  00a2145de1886cb9eb88869c85d74080   2136    2408     0.345994

In [3]:
df = pd.DataFrame()
df['image_id'] = ['002a34c58c5b758217ed1f584ccbcfe9',
                  '002a34c58c5b758217ed1f584ccbcfe9',
                  '004f33259ee4aef671c2b95d54e4be68',
                  '008bdde2af2462e86fd373a445d0f4cd',
                  '009bc039326338823ca3aa84381f17f1']

df['class_id'] = ['0',
                  '1',
                  '2',
                  '3',
                  '14']

df['x_min'] = ['0.1',
               '0.2',
               '0.3',
               '0.4',
               '0']

df['x_max'] = ['0.2',
               '0.3',
               '0.4',
               '0.5',
               '1']

df['y_min'] = ['0.15',
               '0.25',
               '0.35',
               '0.45',
               '0']

df['y_max'] = ['0.25',
               '0.35',
               '0.45',
               '0.55',
               '1']

df['score'] = ['0.6',
               '0.7',
               '0.8',
               '0.9',
               '1']

df.head()

                           image_id class_id x_min x_max y_min y_max score
0  002a34c58c5b758217ed1f584ccbcfe9        0   0.1   0.2  0.15  0.25   0.6
1  002a34c58c5b758217ed1f584ccbcfe9        1   0.2   0.3  0.25  0.35   0.7
2  004f33259ee4aef671c2b95d54e4be68        2   0.3   0.4  0.35  0.45   0.8
3  008bdde2af2462e86fd373a445d0f4cd        3   0.4   0.5  0.45  0.55   0.9
4  009bc039326338823ca3aa84381f17f1       14     0     1     0     1     1

In [4]:
df.to_csv('output.csv')

In [5]:
!python output-to-submission.py

In [6]:
pd.read_csv('submission.csv').head(10)

,image_id,PredictionString
0,002a34c58c5b758217ed1f584ccbcfe9,0 0.6 234 388 469 646 1 0.7 469 646 704 904
1,004f33259ee4aef671c2b95d54e4be68,2 0.8 755 1060 1007 1363
2,008bdde2af2462e86fd373a445d0f4cd,3 0.9 922 1296 1152 1584
3,009bc039326338823ca3aa84381f17f1,14 1.0 0 0 1 1
4,00a2145de1886cb9eb88869c85d74080,14 0.34599351899999997 0 0 1 1
5,00b7e6bfa4dc1fe9ddd0ce74743e38c2,14 0.198367283 0 0 1 1
6,011295e0bcdc7636569ab73bfdcc4450,14 0.986467935 0 0 1 1
7,013c169f9dad6f1f6485da961b9f7bf2,14 0.362230472 0 0 1 1
8,01431a2618c0ace741e4e270a37e20b9,14 0.053823829000000004 0 0 1 1
9,0168eb925aa6f28a78b16134792f5d0e,14 0.982547793 0 0 1 1

In [7]:
!python output-to-submission.py --trick=True

In [8]:
pd.read_csv('submission.csv').head(10)

,image_id,PredictionString
0,002a34c58c5b758217ed1f584ccbcfe9,0 0.6 234 388 469 646 1 0.7 469 646 704 904 14...
1,004f33259ee4aef671c2b95d54e4be68,2 0.8 755 1060 1007 1363 14 0.9627654659999999...
2,008bdde2af2462e86fd373a445d0f4cd,3 0.9 922 1296 1152 1584 14 0.06030032 0 0 1 1
3,009bc039326338823ca3aa84381f17f1,14 1.0 0 0 1 1
4,00a2145de1886cb9eb88869c85d74080,14 0.34599351899999997 0 0 1 1
5,00b7e6bfa4dc1fe9ddd0ce74743e38c2,14 0.198367283 0 0 1 1
6,011295e0bcdc7636569ab73bfdcc4450,14 0.986467935 0 0 1 1
7,013c169f9dad6f1f6485da961b9f7bf2,14 0.362230472 0 0 1 1
8,01431a2618c0ace741e4e270a37e20b9,14 0.053823829000000004 0 0 1 1
9,0168eb925aa6f28a78b16134792f5d0e,14 0.982547793 0 0 1 1